body {
	padding-top: 70px;
	padding-bottom: 50px;
}
.navbar img {
position:absolute;

}
.form-signin {
	margin:auto;
	padding:20px;
	max-width:300px;
}

img.lastfm {
	width:auto;
}
.overlay {
	position:fixed;
	bottom:0px;
	max-height:50%;
	overflow:auto;
	background-color:inherit;
	
	-moz-box-shadow:0 0 5em #dddddd;
	-webkit-box-shadow:0 0 1em #dddddd;
	box-shadow:0 0 1em #dddddd;
}
#chat2 {
	height:auto;
	
}
