
body {
	padding-top: 70px;
	padding-bottom: 40px;
	font-size: 11px;
	line-height: 14px;
}

#stationcontent, #stationoverview {
overflow:auto;
min-height:250px !important;
}

#footer {
	position:fixed;
	bottom: 0px;
	left:0px;
	right:0px;
	height:0px;
	background-color:#feffff;
	border-top: 1px solid #eeeeee;
}

.clickable{
	cursor:pointer;
}
.navbar img {
	position:absolute;
}
.form-signin {
	margin:auto;
	padding:20px;
	max-width:300px;
}

#chat2 {
	height:auto;
	
}

::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track { 
    border-radius: 0px;
    background-color: #fff;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 0px;
    height: 50px;
	background-color: #eee;
	border: 1px solid #ddd;
	//-webkit-border-radius: 6px;
}
