<!-- Content of chat_chatcontents.html
    ================================================== -->
<div class="container-fluid">
		<small>
		<a role="button" class="btn btn-mini pull-right" onclick="$('.chat').toggle(); return false;">
				<i class="icon-chevron-down"></i> Hide
		</a>
		<p>
				
				
		</p>
		<p>
				<form action="" method="post" onsubmit="post_chat(); return false; "> <!-- chat -->
						{% csrf_token %}
						<div class="input-append"> <!-- chat input -->
							  <input id="chatcontent" name="chatcontent" type="text">
							  <button id="chatbutton" class="btn" type="submit"><i class="icon-comment"></i></button> 
						</div> <!-- end chat input -->
				</form>
		</p>
		{% for chat in chatlist %}
		
		<p>
				
				</i> <strong>{{ chat.author }}</strong>
				<span class='muted pull-right'>{{ chat.timestamp }}</span>
				<br>
				{{ chat.content }}
		
		</p>
		
		{% endfor %}
		</small>
</div>

	<!-- Le javascript from stations_stationlist.html
    ================================================== -->
  

    <script type="text/javascript">
    
	</script>
