{% load jsonify %}

<!DOCTYPE html>
<html lang="de">
  <head>
	  
	    <meta charset="utf-8">
	    <title>leukosia</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="description" content="">
	    <meta name="author" content="">
	 
	
	    <!-- Le styles -->
	    <link href="{{STATIC_URL}}ext/bootstrap/css/bootstrap.css" rel="stylesheet">
	    <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/style.css" />
	    
	    

  </head>

  <body>
  
  	<!-- Navbar
    ================================================== -->
  
	<div class="navbar navbar-fixed-top"> 
			<div class="navbar-inner"> 
					<div class="container-fluid">
						
								<!-- <div class="pull-left">
									<img src="{{STATIC_URL}}img/logo_4_w.png">
								</div> -->
								<a class="brand" href="#">leuko fm</a>
								{% if page != "login" %}
								
								
								
								<ul class="nav pull-right">
										<li class="dropdown">
								    			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
													      <i class="icon-user"></i> {{ username }}
													      <b class="caret"></b>
								   	 			</a>
								    			<ul class="dropdown-menu">
								      					 <li>
								      					 		<a tabindex="-1" href="#">
								      					 				<i class="icon-wrench"></i> Settings
								      					 		</a>
								      					 </li>
														  <li class="divider"></li>
														  <li>
														  		<a tabindex="-1" href="/logout">
														  				<i class="icon-off"></i> Logout
														  		</a>
														  </li>
								    			</ul>
								    			
								  		</li>
								</ul>
								
								<!-- HTML5 Audio Tag -->
								<audio id="audiotag1" src=""></audio>
								
								{% endif%}
					</div> <!-- end navbar-inner -->
			</div> <!-- end navbar-inner -->
	</div> <!-- end navbar -->

	
	
	<!-- Content
    ================================================== -->
	
	
	 <div class="container-fluid">  <!-- *** fluid container *** -->
			<div class="row-fluid"> <!-- ** row fluid ** -->
			
							{% block content %}
							{% endblock %}
							
					{% if page != "login" %}
					
					<div class="content content-left span12"> <!-- * content-left * -->
							<!-- <ul class="inline">
									<li>
											<h3>Radiostations</h3>
									</li>
									<li class="pull-right">
											<h3><button type="button" class="btn" data-toggle="collapse" data-target="#stationlist"></h3>
									</li>
							</ul> -->
							<div id="stationlist" class="collapse in">
								
									{% for station in stationlist %}
									<ul class="inline" id="stationoverview_{{ station.admin_port }}">
									</ul>
									
									<div id="stationdetails_{{ station.admin_port }}" class="collapse stationdetails">
									loading station...
									</div>
									<hr>		
									{% endfor %}
							
							</div>
							
							
					</div> <!-- * end content-left * -->
					
					
					<div id="chat1" class="span4 offset8 chat" style="display:none">
						chat loading...
					</div> 	<!-- end chat 1 -->
					<div id="chat2" class="span4 offset8 chat">
							<div class="container-fluid">
									<a id="togglechat" role="button" class="btn btn-mini pull-right" onclick="$('.chat').toggle(); return false;">
											<i class="icon-chevron-up"></i> Chat
									</a>
							</div>
					</div> 	<!-- end chat 2-->
					
					{% endif %}
				
			</div> <!-- ** end row fluid **-->
	</div> <!-- *** end fluid container *** -->


	
	<!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->


    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{{STATIC_URL}}ext/bootstrap/js/bootstrap.js"></script>
   
	
	
	{% if page != "login" %}
    
   	<script type="text/javascript">
		
	var html = "";
	var last_artist = "";
	var last_album = "";
	var cur_artist;
	var cur_album;
	var songupdater = false;
	var main_interval = false;
	var a = document.getElementsByTagName("audio")[0];
	var lastfm_key = '{{ lastfm_key }}';
	var lastfm_url = '{{ lastfm_url }}';
	var stationlist = {{ stationlist|jsonify }};
	

	
	$(document).ready(function () {
	/*
	 *  On first load: 
	 *  - renders the list view of the Stations
	 *  - renders the chat-contents
	 */
		updatePage();
					
		main_interval = setInterval(function() { 		// sets Interval for automatic page updates
							updatePage();
						}, 5000);
	});
	
	function updatePage() {
		for (var i = 0; i < stationlist.length; i++) {
			if ($('#stationdetails_' + stationlist[i]['admin_port']).hasClass('in')) {
				render_stationoverview(i,true);
				render_stationdetails(stationlist[i]['admin_port'])
				update_albumcover(stationlist[i]['admin_port']);
				update_artistinfo(stationlist[i]['admin_port']);
			}
			else {
				render_stationoverview(i,false);
			}
		}
		render_chat();
	}
	
	
	function render_stationoverview(i,status) {
	/* 
	 *  gets the station infos via ajax request
	 *  and renders the equivalent html id in the station overview
	 */
	 		$.get('/render-station-overview',{'port':stationlist[i].admin_port})
			.done(function(html) {
	 			$('#stationoverview_' + stationlist[i].admin_port).html(html);
	 			return true;
	 		});
	}
	
	
	function render_chat() {
	/*
	 *  renders the chat contents
	 */
		$.get("/render-chat/").done(function(html) {
			$('#chat1').html(html);
		});
	}
	
	
	function post_chat() {
		/*
		 *  post chat message to database
		 */
		chatmessage = document.getElementById('chatcontent').value;    	// get content from input
		$.post('/post-chat/',{'chatmessage':chatmessage})				// post chatmessage
		.success(function() {
			render_chat();
		});
		$('#chatcontent').val("");									// set input to blank
	}
	
	
	function clearInterval (interval) {
    /* 
	 *  clears a given interval
	 */
		if (interval) {
			clearInterval(interval);
		}
	}
	
	
	function render_stationdetails(station_port) {
	/* 
	 *  gets the html for the desired station and renders it
	 */
		var artist = $('#hidden-artist_' + station_port).val();
		var album = $('#hidden-album_' + station_port).val();
		
		last_artist = "";
		last_album = "";
		$.get('/render-station-details/',{'station-port': station_port}).done(function(html){
			$('#stationdetails_' + station_port).html(html);
			$('#stationdetails_'+station_port).on('shown', function () {
				update_albumcover(station_port);
				update_artistinfo(station_port);
			});
			
		});
	}
	
	

		
	function update_albumcover(station_port) {
		
		var artist = $('#hidden-artist_' + station_port).val();
		var album = $('#hidden-album_' + station_port).val();
		
		$.getJSON(lastfm_url, {
          "api_key": lastfm_key,
          "format": "json",
          "artist": artist,
          "album": album,
          "method":"album.getInfo"
        })
        .done(function(data) {
			$('#nowplaying_' + station_port).find("img")
				.attr('src',data['album']['image'][3]['#text']);
		});
	}
	
	function update_artistinfo(station_port) {
		
		var artist = $('#hidden-artist_' + station_port).val();
		
		$.getJSON(lastfm_url, {
          "api_key": lastfm_key,
          "format": "json",
          "artist": artist,
          "method": "artist.getInfo"
        })
        .done(function(data) {
			var genres = "";
			for (i in data['artist']['tags']['tag']) {
				genres = genres + data['artist']['tags']['tag'][i]['name'] + ", ";
				}
			$('#artistinfo_' + station_port).find("img").attr('src',data['artist']['image'][3]['#text']);
			$('#artistinfo_' + station_port).find("#genre").html(genres.substr(0,genres.length-2));
			$('#artistinfo_' + station_port).find("#bio").html(data['artist']['bio']['summary']);
		});
	}
    
		
	
	
	
	
	$(document).ajaxSend(function(event, xhr, settings) {
		/*
		 * this is for ajax csrf-authentification
		 * see http://stackoverflow.com/questions/8238900/django-jquery-csrf-fix-does-not-work-on-ipad
		 */
		function getCookie(name) {
			var cookieValue = null;
			if (document.cookie && document.cookie != '') {
				var cookies = document.cookie.split(';');
				for (var i = 0; i < cookies.length; i++) {
					var cookie = jQuery.trim(cookies[i]);
					// Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) == (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		    }
	    function sameOrigin(url) {
			// url could be relative or scheme relative or absolute
			var host = document.location.host; // host + port
			var protocol = document.location.protocol;
			var sr_origin = '//' + host;
			var origin = protocol + sr_origin;
			// Allow absolute or scheme relative URLs to same origin
			return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
				(url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
				// or any other URL that isn't scheme relative or absolute i.e relative.
				!(/^(\/\/|http:|https:).*/.test(url));
	    }
	    function safeMethod(method) {
	    	return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
	    }
	
	    if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
			xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
	    }
	});
	
	
</script>
   
  {% endif %}

  </body>
</html>
