{% load jsonify %}

<!DOCTYPE html>
<html lang="de">
  <head>
	  
	    <meta charset="utf-8">
	    <title>leukosia</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="description" content="">
	    <meta name="author" content="">
	 
	
	    <!-- Le styles -->
	    <link href="{{STATIC_URL}}ext/bootstrap/css/bootstrap.css" rel="stylesheet">
	    <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/style.css" />
	    
	    <link href="{{STATIC_URL}}ext/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
	    
	    

  </head>

  <body>
  
  	<!-- Navbar
    ================================================== -->
  
	<div class="navbar navbar-fixed-top"> 
			<div class="navbar-inner"> 
					<div class="container-fluid">
						
								<div class="pull-left">
									<img src="{{STATIC_URL}}img/logo.png">
								</div>
								<!-- <a class="brand" href="#">leuko fm</a> -->
								{% if page != "login" %}
								
								
								
								<ul class="nav pull-right">
										<li class="dropdown">
								    			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
													      <i class="icon-user"></i> {{ username }}
													      <b class="caret"></b>
								   	 			</a>
								    			<ul class="dropdown-menu">
								      					 <li>
								      					 		<a tabindex="-1" href="#">
								      					 				<i class="icon-wrench"></i> Settings
								      					 		</a>
								      					 </li>
														  <li class="divider"></li>
														  <li>
														  		<a tabindex="-1" href="/logout">
														  				<i class="icon-off"></i> Logout
														  		</a>
														  </li>
								    			</ul>
								    			
								  		</li>
								</ul>
								
								<!-- HTML5 Audio Tag -->
								<audio id="audiotag1" src=""></audio>
								
								{% endif%}
					</div> <!-- end navbar-inner -->
			</div> <!-- end navbar-inner -->
	</div> <!-- end navbar -->

	<div class="visible-phone">Mobile view</div>
	
	<!-- Content
    ================================================== -->
	
	{% if page == "login" %}
	 <div class="container-fluid">  <!-- *** fluid container *** -->
			<div class="row-fluid"> <!-- ** row fluid ** -->
			
					{% block content %}
					{% endblock %}
					
			</div> <!-- ** end row fluid **-->
	</div> <!-- *** end fluid container *** -->
	{% endif %}
							
	{% if page != "login" %}
	
	
	<!-- ## Stations ## -->
	{% for station in stationlist %}
	<div class="container-fluid">  <!-- *** fluid container *** -->
			<div class="row-fluid">
					<div class="span1">
					<button id="btn-show-{{ station.admin_port }}" type="button" class="btn btn-mini"
							
							data-toggle="collapse" data-target="#stationdetails_{{ station.admin_port }}">
							<i class="icon-chevron-down">
							</i>
					</button>
					</div>
					
					<div class="span10" id="stationoverview_{{ station.admin_port }}">
					</div>
					<div class="span1" id="stationoverview_{{ station.admin_port }}">
					
							<button class="btn btn-mini" data-toggle="button" onclick="toggle_audio('{{ mpdhost }}', '{{ station.stream_port }}');">
									<i class="icon-headphones"></i>
							</button>
					</div>
			</div>
			<div id="stationdetails_{{ station.admin_port }}" class="row-fluid collapse">
				.
			</div> <!-- ** end row fluid **-->
			
	</div> <!-- *** end fluid container *** -->
	<hr>		
	{% endfor %}
	

	<!-- ## Chat Box ## -->
	<div id="chat1" class="span4 offset12 chat" style="display:none">
		chat loading...
	</div> 	<!-- end chat 1 -->
	<div id="chat2" class="span4 offset12 chat">
			<div class="container-fluid">
					<a id="togglechat" role="button" class="btn btn-mini pull-right" onclick="$('.chat').toggle(); return false;">
							<i class="icon-chevron-up"></i> Chat
					</a>
			</div>
	</div> 	<!-- end chat 2-->
	
	
	<!-- ## Player ## -->
	<div id="player1" class="span6 offset6 player" style="display:none">
		player loading...
	</div> 	<!-- end chat 1 -->
	<div id="player2" class="span6 offset6 player">
			<div class="container-fluid">
					<a id="togglechat" role="button" class="btn btn-mini pull-right" onclick="$('.player').toggle(); return false;">
							<i class="icon-chevron-up"></i> Player
					</a>
			</div>
	</div> 	<!-- end chat 2-->
	
	{% endif %}
				



	
	<!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->


    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{{STATIC_URL}}ext/bootstrap/js/bootstrap.js"></script>
   
	
	
	{% if page != "login" %}
    
   	<script type="text/javascript">
		
	var html = "";
	var last_track = "";
	var cur_track = false;
	var main_interval = false;
	var a = document.getElementsByTagName("audio")[0];
	var lastfm_key = '{{ lastfm_key }}';
	var lastfm_url = '{{ lastfm_url }}';
	var stationlist = {{ stationlist|jsonify }};

	
	$(document).ready(function () {
	/*
	 *  On first load: 
	 *  - renders the list view of the Stations
	 *  - renders the chat-contents
	 */
		updatePage();
		
		for (i in stationlist) { 		// inital page rendering
			station_port = stationlist[i]['admin_port'];
			stationlist[i]['last_track'] = "#####";
			render_stationoverview(station_port);
			render_stationdetails(station_port);
			update_lastfm_songinfo(station_port);
			update_lastfm_artistinfo(station_port);
			highlight_current_song(station_port);
		}
		
					
		main_interval = setInterval(function() { 		// sets Interval for automatic page updates
				updatePage();
			}, 5000);
	});
	
	
	function updatePage() {

			for (i in stationlist) {
				
					station_port = stationlist[i]['admin_port'];
					render_stationoverview(station_port); //renders the station information of current station
					current_track = $('#hidden-title_' + station_port).val();
					

					//alert(current_id)

					if ((current_track != false) && (current_track != stationlist[i]['last_track'])) { //only update page when track changes
					
							if ($('#stationdetails_' + station_port).hasClass('in')) {
								render_stationoverview(station_port); //renders the station information of current station
								update_lastfm_songinfo(station_port);
								update_lastfm_artistinfo(station_port);
								highlight_current_song(station_port);
							}
					}
					
					stationlist[i]['last_track'] = current_track;
					
					render_chat();
					render_player();
			}
	}
	
	
	function render_stationoverview(station_port) {
	/* 
	 *  gets the station infos via ajax request
	 *  and renders the equivalent html id in the station overview
	 */
	 		$.get('/render-station-overview',{'port':station_port})
			.done(function(html) {
					$('#stationoverview_' + station_port).html(html);
	 		});
	}
	
	function render_stationdetails(station_port) {
	/* 
	 *  gets the html for the desired station and renders it
	 */
		var artist = $('#hidden-artist_' + station_port).val();
		var album = $('#hidden-album_' + station_port).val();
		
		last_artist = "";
		last_album = "";
		$.get('/render-station-details/',{'station-port': station_port}).done(function(html){
			$('#stationdetails_' + station_port).html(html);
			$('#stationdetails_'+station_port).on('shown', function () {
			update_lastfm_songinfo(station_port);
			update_lastfm_artistinfo(station_port);
				
			});
			
		});
	}
	
	function render_player() {
	/*
	 *  renders the chat contents
	 */
		$.get("/render-player/").done(function(html) {
			$('#player1').html(html);
		});
	}
	
	function highlight_current_song(station_port) {
			current_id = $('#hidden-id_' + station_port).val(); //current song of playlist
			$('.playlistrow').attr('class','playlistrow');  //current song of playlist
			$('#playlistid_' + current_id).attr('class','playlistrow success text-error');  //current song of playlist		
		}
	
	
	function toggle_audio(host,port) {
		if ($('#audiotag1').attr('src') == 'http://' + host + ":" + port) {
			a.src = "";
		}
		else {
			a.src='http://' + host + ":" + port; 
			a.play();
		}
	}
	
	
	function render_chat() {
	/*
	 *  renders the chat contents
	 */
		$.get("/render-chat/").done(function(html) {
			$('#chat1').html(html);
		});
	}
		
	
	function post_chat() {
		/*
		 *  post chat message to database
		 */
		chatmessage = document.getElementById('chatcontent').value;    	// get content from input
		$.post('/post-chat/',{'chatmessage':chatmessage})				// post chatmessage
		.success(function() {
			render_chat();
		});
		$('#chatcontent').val("");									// set input to blank
	}
	
	
	function clearInterval (interval) {
    /* 
	 *  clears a given interval
	 */
		if (interval) {
			clearInterval(interval);
		}
	}
	
	
	
	
	

		
	function update_lastfm_songinfo(station_port) {
		
		var artist = $('#hidden-artist_' + station_port).val();
		var album = $('#hidden-album_' + station_port).val();
		var title = $('#hidden-title_' + station_port).val();
		
		$.getJSON(lastfm_url, {		//get albumcover uri from lastfm
          "api_key": lastfm_key,
          "format": "json",
          "artist": artist,
          "album": album,
          "method":"album.getInfo"
        })
        .done(function(data) {
			$('#nowplaying_' + station_port).find("img")
				.attr('src',data['album']['image'][3]['#text']);

		});
		
		$.getJSON(lastfm_url, { 	//get track info from lastfm
          "api_key": lastfm_key,
          "format": "json",
          "artist": artist,
          "track": title,
          "autocorrect": 1,
          "method": "track.getInfo"
        })
        .done(function(data) {
			$('#nowplaying_' + station_port).find("strong")
				.html(data['track']['name']);
			$('#nowplaying_' + station_port).find("#artist")
				.html(data['track']['artist']['name']);
			$('#nowplaying_' + station_port).find("#album")
				.html(data['track']['album']['title']);
			$('#nowplaying_' + station_port).find("#tracknum")
				.html(data['track']['album']['@attr']['position']);
			$('#nowplaying_' + station_port).find("#time")
				.html(data['track']['duration']);				
		});
	}
	
	function update_lastfm_artistinfo(station_port) {
		
		var artist = $('#hidden-artist_' + station_port).val();
		
		$.getJSON(lastfm_url, {		//get artist info from lastfm
          "api_key": lastfm_key,
          "format": "json",
          "artist": artist,
          "method": "artist.getInfo"
        })
        .done(function(data) {
			var genres = "";
			for (i in data['artist']['tags']['tag']) {
				genres = genres + data['artist']['tags']['tag'][i]['name'] + ", ";
				}
			$('#artistinfo_' + station_port).find("img").attr('src',data['artist']['image'][3]['#text']);
			$('#artistinfo_' + station_port).find("#artist").html(data['artist']['name']);
			$('#artistinfo_' + station_port).find("#genre").html(genres.substr(0,genres.length-2));
			$('#artistinfo_' + station_port).find("#bio").html(data['artist']['bio']['summary']);
		});
	}
    
		
	
	
	
	
	$(document).ajaxSend(function(event, xhr, settings) {
		/*
		 * this is for ajax csrf-authentification
		 * see http://stackoverflow.com/questions/8238900/django-jquery-csrf-fix-does-not-work-on-ipad
		 */
		function getCookie(name) {
			var cookieValue = null;
			if (document.cookie && document.cookie != '') {
				var cookies = document.cookie.split(';');
				for (var i = 0; i < cookies.length; i++) {
					var cookie = jQuery.trim(cookies[i]);
					// Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) == (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		    }
	    function sameOrigin(url) {
			// url could be relative or scheme relative or absolute
			var host = document.location.host; // host + port
			var protocol = document.location.protocol;
			var sr_origin = '//' + host;
			var origin = protocol + sr_origin;
			// Allow absolute or scheme relative URLs to same origin
			return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
				(url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
				// or any other URL that isn't scheme relative or absolute i.e relative.
				!(/^(\/\/|http:|https:).*/.test(url));
	    }
	    function safeMethod(method) {
	    	return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
	    }
	
	    if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
			xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
	    }
	});
	
	
</script>
   
  {% endif %}

  </body>
</html>
