{% load jsonify %}

<!DOCTYPE html>
<html lang="de">
  <head>
	  
	    <meta charset="utf-8">
	    <title>leukosia</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="description" content="">
	    <meta name="author" content="">
	 
	
	    <!-- Le styles -->
	    <link href="{{STATIC_URL}}ext/bootstrap/css/bootstrap.css" rel="stylesheet">
	    <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/style.css" />
	    
	    

  </head>

  <body>
  
  	<!-- Navbar
    ================================================== -->
  
	<div class="navbar navbar-fixed-top"> 
			<div class="navbar-inner"> 
					<div class="container-fluid">
						
								<!-- <div class="pull-left">
									<img src="{{STATIC_URL}}img/logo_4_w.png">
								</div> -->
								<a class="brand" href="#">leuko fm</a>
								{% if page != "login" %}
								
								
								
								<ul class="nav pull-right">
										<li class="dropdown">
								    			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
													      <i class="icon-user"></i> {{ username }}
													      <b class="caret"></b>
								   	 			</a>
								    			<ul class="dropdown-menu">
								      					 <li>
								      					 		<a tabindex="-1" href="#">
								      					 				<i class="icon-wrench"></i> Settings
								      					 		</a>
								      					 </li>
														  <li class="divider"></li>
														  <li>
														  		<a tabindex="-1" href="/logout">
														  				<i class="icon-off"></i> Logout
														  		</a>
														  </li>
								    			</ul>
								    			
								  		</li>
								</ul>
								
								<!-- HTML5 Audio Tag -->
								<audio id="audiotag1" src=""></audio>
								
								{% endif%}
					</div> <!-- end navbar-inner -->
			</div> <!-- end navbar-inner -->
	</div> <!-- end navbar -->

	
	
	<!-- Content
    ================================================== -->
	
	
	 <div class="container-fluid">  <!-- *** fluid container *** -->
			<div class="row-fluid"> <!-- ** row fluid ** -->
			
							{% block content %}
							{% endblock %}
							
					{% if page != "login" %}
					<div class="content content-left span12"> <!-- * content-left * -->
							<ul class="inline">
									<li>
											<h3>Radiostations</h3>
									</li>
									<li class="pull-right">
											<h3><button type="button" class="btn" data-toggle="collapse" data-target="#stationlist"></h3>
									</li>
							</ul>
							<div id="stationlist" class="collapse in">
								
									{% for station in stationlist %}
									<ul class="inline" id="stationoverview_{{ station.admin_port }}">
									</ul>
									
									<div id="stationdetails_{{ station.admin_port }}" class="collapse stationdetails">
									loading station...
									</div>
									<hr>		
									{% endfor %}
							
							</div>
							
							
					</div> <!-- * end content-left * -->
					
					
					<div class="span4 content-right">  <!-- * content-right * -->
							
					
							
					</div> <!-- * end content-right *-->
					
					<div id="chat1" class="span4 offset8 chat" style="display:none">
						chat loading...
					</div> 	<!-- end chat 1 -->
					<div id="chat2" class="span4 offset8 chat">
							<div class="container-fluid">
									<a id="togglechat" role="button" class="btn btn-mini pull-right" onclick="$('.chat').toggle(); return false;">
											<i class="icon-chevron-up"></i> Chat
									</a>
							</div>
					</div> 	<!-- end chat 2-->
					
					{% endif %}
				
			</div> <!-- ** end row fluid **-->
	</div> <!-- *** end fluid container *** -->


	
	<!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->


    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{{STATIC_URL}}ext/bootstrap/js/bootstrap.js"></script>
   
	
	
	{% if page != "login" %}
    
   	<script type="text/javascript">
		
	var html = "";
	var last_artist = "";
	var last_album = "";
	var cur_artist;
	var cur_album;
	var songupdater = false;
	var main_interval = false;
	var a = document.getElementsByTagName("audio")[0];
	var lastfm_key = '{{ lastfm_key }}';
	var lastfm_url = '{{ lastfm_url }}';
	var stationlist = {{ stationlist|jsonify }};
	

	
	$(document).ready(function () {
	/*
	 *  On first load: 
	 *  - renders the list view of the Stations
	 *  - renders the chat-contents
	 */
	 		for (var i = 0; i < stationlist.length; i++) {
				render_stationoverview(i);
			}
			//render_stationoverview();
			render_chat();
			
			//main_interval = setInterval(function() { 		// sets Interval for automatic page updates
			//	for (var i = 0; i < stationlist.length; i++) {
			//			render_stationoverview(i);
			//	}
			//	render_chat();
			//}, 5000);
	});
	
	
	function render_stationoverview(i) {
	/* 
	 *  gets the station infos via ajax request
	 *  and renders the equivalent html id in the station overview
	 */
	 		$.get('/render-station-overview',{'port':stationlist[i].admin_port})
			.done(function(html) {
	 			$('#stationoverview_' + stationlist[i].admin_port).html(html);
	 			return true;
	 		});
	}
	
	
	function render_chat() {
	/*
	 *  renders the chat contents
	 */
		$.get("/render-chat/").done(function(html) {
			$('#chat1').html(html);
		});
	}
	
	
	function post_chat() {
		/*
		 *  post chat message to database
		 */
		chatmessage = document.getElementById('chatcontent').value;    	// get content from input
		$.post('/post-chat/',{'chatmessage':chatmessage})				// post chatmessage
		.success(function() {
			render_chat();
		});
		$('#chatcontent').val("");									// set input to blank
	}
	
	
	function clearInterval (interval) {
    /* 
	 *  clears a given interval
	 */
		if (interval) {
			clearInterval(interval);
		}
	}
	
	
	function render_stationdetails(station_port,artist,album) {
	/* 
	 *  gets the html for the desired station and renders it
	 */
		last_artist = "";
		last_album = "";
		$.get('/render-station-details/',{'station-port': station_port}).done(function(html){
			$('#stationdetails_' + station_port).html(html);
			$('#stationdetails_'+station_port).on('shown', function () {
				update_albumcover(station_port,artist,album);
			});
		});
	}
	
	

	
	
	function render_stationdetails_old (station_port) {
			last_artist = "";
			last_album = "";
			$('#stationdetails').html("loading...");
			$.get('/stationdetails',{'station_port':station_port})
			.done(function(data) {
				$('#stationdetails').html(data);
				navhtml = '<li onclick="render_stationoverview()" style="cursor:pointer;"><a>Overview</a></li>'+
							'<li class="divider-vertical"></li>'+
							'<li onclick="previous()" style="cursor:pointer;"><a><i class="icon-fast-backward icon-white"></i></a></li>'+
							'<li onclick="play()" style="cursor:pointer;"><a><i class="icon-play icon-white"></i></a></li>'+
							'<li onclick="pause()" style="cursor:pointer;"><a><i class="icon-pause icon-white"></i></a></li>'+
							'<li onclick="stop()" style="cursor:pointer;"><a><i class="icon-stop icon-white"></i></a></li>'+
							'<li onclick="next()" style="cursor:pointer;"><a><i class="icon-fast-forward icon-white"></i></a></li>';
				$('#nav').html(navhtml);
				<!-- Update the Current Song -->
				update_nowplaying(station_port);
				songupdater = setInterval(function() {
					update_nowplaying(station_port)},2000);
				
				}
			);
		}
	
	
	
	function update_nowplaying(station_port) {
		$.getJSON('/nowplaying/',
		{'station_port' : station_port})
		.done(function(data) { 
			cur_artist = data.artist;
			cur_album = data.album;
			html = "<b>" + data.title + "</b><br><br>" +
				"<b>" + data.artist + "</b><br>" +
				data.album + " (" + data.date + ")<br><br>" +
				"<small>" +
				"Genre: " + data.genre + "<br>" +
				"Track: "+ data.track + "<br>" +
				"Length: " + data.time + "<br>" +
				"</small>";
			$("#trackinfo").html(html);
			
			$('#trackinfo').show();
			
			if (cur_album != last_album) { //if album changes
				$('#albumcovercontainer').html('<img src="{{STATIC_URL}}img/loading.gif" />');
				update_albumcover(cur_artist,cur_album);
			}
			if (last_artist != cur_artist) { //if album changes
				$('#artistinfo').html('<img src="{{STATIC_URL}}img/loading.gif" />');
				update_artistinfo(cur_artist);
			}
			last_artist = cur_artist;
			last_album = cur_album
		});
	}
	

		
	
	
	
	
	$(document).ajaxSend(function(event, xhr, settings) {
		/*
		 * this is for ajax csrf-authentification
		 * see http://stackoverflow.com/questions/8238900/django-jquery-csrf-fix-does-not-work-on-ipad
		 */
		function getCookie(name) {
			var cookieValue = null;
			if (document.cookie && document.cookie != '') {
				var cookies = document.cookie.split(';');
				for (var i = 0; i < cookies.length; i++) {
					var cookie = jQuery.trim(cookies[i]);
					// Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) == (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		    }
	    function sameOrigin(url) {
			// url could be relative or scheme relative or absolute
			var host = document.location.host; // host + port
			var protocol = document.location.protocol;
			var sr_origin = '//' + host;
			var origin = protocol + sr_origin;
			// Allow absolute or scheme relative URLs to same origin
			return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
				(url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
				// or any other URL that isn't scheme relative or absolute i.e relative.
				!(/^(\/\/|http:|https:).*/.test(url));
	    }
	    function safeMethod(method) {
	    	return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
	    }
	
	    if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
			xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
	    }
	});
	
	
</script>
   
  {% endif %}

  </body>
</html>
