<!-- Content of stations_stationslist.html
    ================================================== -->

<div class="span2">
		<abbr title="{{ description }}"><strong>{{ stream_name }}</strong></abbr>	
</div>


{% if current_song.artist %}
<div class="span10">
		<p><i class="icon-music"></i>
		{{ current_song.artist }} - {{ current_song.title }}

		{% if current_song.genre %}
		<span class="muted">
				({{ current_song.genre }})
		</span>
		{% endif %}
</div>
{% endif %}



{% if current_song.artist != "" %}
<!--
<li class="pull-right">
		<p>
				<button class="btn btn-mini" onclick="a.src='http://{{ mpdhost }}:{{ stream_port }}'; a.play(); ">
						<i class="icon-headphones"></i>
				</button>
		</p>
</li>-->
{% endif %}


<input type="hidden" id="hidden-artist_{{ admin_port }}" value="{{ current_song.artist }}"></input>
<input type="hidden" id="hidden-album_{{ admin_port }}" value="{{ current_song.album }}"></input>
<input type="hidden" id="hidden-title_{{ admin_port }}" value="{{ current_song.title }}"></input>


	<!-- Le javascript from stations_stationlist.html
    ================================================== -->
  

    <script type="text/javascript">
    
    
	</script>
