<!-- Content of stations_stationdetails_lib_artistview.html
    ================================================== -->


<div class="accordion" id="artistview">
	{% for entry in library %}
	  <div class="accordion-group">
		<div class="accordion-heading">
		  <a class="accordion-toggle" data-toggle="collapse" data-parent="#artistview" href="#artist-{{ forloop.counter }}-{{ station_port }}">
			{{ entry }}
		  </a>
		</div>
		<div id="artist-{{ forloop.counter }}-{{ station_port }}" class="accordion-body collapse">
		  <div class="accordion-inner">
			album eins<br>
			album zwo
		  </div>
		</div>
	  </div>
  {% endfor %}
</div>
