
				<table class="table table-condensed table-striped table-hover">
					<thead>
					<tr>
						<th></th>
						<th>Name</th>
						<th>Admin Port</th>
						<th>Stream Port</th>
						<th>Description</th>
					</tr>
					</thead>
					<tbody>
					{% for e in stations %}
					<tr>
						
						<td style="cursor:pointer" onclick="a.src='http://leukosia.eu:{{ e.stream_port }}';a.play();">listen</td>
						<td style="cursor:pointer" onclick="render_stationdetails( {{ e.admin_port }} )">{{ e.stream_name }}</td>
						<td>{{ e.admin_port }}</td>
						<td>{{ e.stream_port }}</td>
						<td>{{ e.description }} *** es laeuft: {{ e.genre }}</span>
						<td></td>	
					</tr>
					{% endfor %}
				</tbody>	
			</table>
			<div id="stationdetails">
			</div>
			
			</div> <!-- /main -->
		</div> <!-- /content -->


    <script type="text/javascript">


	</script>
