<!-- Content of stations_stationdetails.html
    ================================================== -->

<br>
		<div class="tabbable tabs" id="stationdetails_{{ station_port }}">

				<ul class="nav nav-tabs">
					  <li class="active"><a href="#nowplaying_{{ station_port }}" data-toggle="tab">Now Playing</a></li>
					  <li><a href="#artistinfo_{{ station_port }}" data-toggle="tab">Artistinfo</a></li>
					  <li><a href="#playqueue_{{ station_port }}" data-toggle="tab">Play Queue</a></li>
					  <li><a href="#playlists_{{ station_port }}" data-toggle="tab">Playlists</a></li>
					  <li><a href="#library_{{ station_port }}" data-toggle="tab">Library</a></li>
					  <li><a href="#tab6_{{ station_port }}" data-toggle="tab">...</a></li>
				</ul>
			
				<div class="tab-content row-fluid">
				
						<div class="tab-pane active" id="nowplaying_{{ station_port }}"> <!-- ** tab nowplaying ** -->

								<img class="img-polaroid pull-left span2" src="http://cdn.last.fm/flatness/responsive/2/noimage/default_artist_140_g2.png" />

								<div class="span10">
									<p>
											<strong></strong>
									</p>
									<p>
											<span id="artist"></span><br>
											<span id="album"></span>
									</p>
									<p>
											<small>
													Track # <span id="tracknum"></span><br>
													<span id="time"></span>
											</small>
									</p>
								</div>
										
								
						</div> <!-- ** end tab nowplaying ** -->
						
						<div class="tab-pane" id="artistinfo_{{ station_port }}"> <!-- ** end tab artistinfo ** -->

								<img class="img-rounded pull-left span3" src="http://cdn.last.fm/flatness/responsive/2/noimage/default_artist_140_g2.png" />
								<div class="span9">
										<strong><p id="artist"></p></strong>
										<em><p id="genre"></p></em>
										<p id="bio"></p>
										
								</div>
								
						</div> <!-- ** end tab artistinfo ** -->
						
						<div class="tab-pane" id="playqueue_{{ station_port }}"> <!-- ** tab playqueue ** -->

						</div> <!-- ** end tab playqueue ** -->
						
						<div class="tab-pane" id="playlists_{{ station_port }}"> <!-- ** tab playlists ** -->
						{% for list in playlists %}
								<p>
										<div class="dropdown"> 
												<button class="btn btn-mini dropdown-toggle" data-toggle="dropdown"><i class="icon-chevron-right"></i></button>
											
												{{ list.playlist }} 
												<span class="muted"> ({{ list.last_modified }}) </span>
											
												<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
														<li><a tabindex="-1" onclick="mpd({'cmd': 'load', 'port': '{{ station_port }}', 'id': '{{ list.playlist }}'}); return false;" href=""><i class="icon-plus"></i> Add</a></li>
														<li><a tabindex="-1" onclick="mpd({'cmd': 'load', 'port': '{{ station_port }}', 'id': '{{ list.playlist }}'}); render_stationdetails_playqueue({{ station_port }}); return false;" href=""><i class="icon-share-alt"></i> Replace</a></li>
														<li><a tabindex="-1" href="#">Something else here</a></li>
														<li class="divider"></li>
														<li><a tabindex="-1" href="#">Separated link</a></li>
												</ul>
										</div>
								</p>
						
						{% endfor %}
						</div> <!-- ** end tab playlist ** -->
						
						<div class="tab-pane" id="library_{{ station_port }}">
								<div id="artistinfo">
								</div>
						</div>
						
						<div class="tab-pane" id="tab6">
							<div id="artistinfo">
							</div>
						</div>
						
				</div> <!-- ** end tab-content ** -->
				
		</div> <!-- ** end tabbable ** -->
			

<script type="text/javascript">

</script>
