<!-- Content of stations_stationslist.html
    ================================================== -->

<div class="span2">
		<abbr title="{{ description }}"><strong>{{ stream_name }}</strong></abbr>	
</div>




<div class="span8">
		<p>
		{% if status.state == "play" %}
			<span class="label label-success">playing</span> 
		{% endif %}
		{% if status.state == "pause" %}
			<span class="label label-warning">paused</span> 
		{% endif %}
		{% if status.state == "stop" %}
			<span class="label">stopped</span> 
		{% endif %}
		{% if current_song %} 
			{{ current_song.artist }} - {{ current_song.title }}
			<span class="muted">
					({{ current_song.genre }})
			</span>
		{% endif %}
</div>




{% if current_song.artist != "" %}
<!--
<li class="pull-right">
		<p>
				<button class="btn btn-mini" onclick="a.src='http://{{ mpdhost }}:{{ stream_port }}'; a.play(); ">
						<i class="icon-headphones"></i>
				</button>
		</p>
</li>-->
{% endif %}


<input type="hidden" id="hidden-artist_{{ admin_port }}" 	value="{{ current_song.artist }}"></input>
<input type="hidden" id="hidden-album_{{ admin_port }}" 	value="{{ current_song.album }}"></input>
<input type="hidden" id="hidden-title_{{ admin_port }}" 	value="{{ current_song.title }}"></input>
<input type="hidden" id="hidden-id_{{ admin_port }}" 		value="{{ current_song.id }}"></input>


	<!-- Le javascript from stations_stationlist.html
    ================================================== -->
  

    <script type="text/javascript">
    
    
	</script>
